
/* =====================================
            dig_mit! colours
   =====================================

dig_mit mint:     #7BBE95;
dig_mit orange:   #D48028;
dig_mit blue:     #63D2E3;
dig_mit_darkblue: #25569E
dig_mit yellow:   #FCDB67;
dig_mit red:      #F22F57;
dig_mit cheekred: #F0615D;
dig_mit lipsred:  #CB878F;

*/


/* ==== General page design ==== */

body {
  background: #222;
}

.digmit-exercise-container {
  border: 1px dotted #015367;
  border-radius: 5px;
  background-color: #eee;
  max-width: 800px;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .digmit-exercise-container {
    font-size: 0.75em;
  }
}

.header {
  text-align: center;
  width: 100%;
}

/* ==== Description ==== /*
/* ... short sentence / paragraph after header describing what to do */

.description {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
}

/* ==== Success message ==== /*
/* ... which is displayed when all answers are correct */
.next-word-message,
.success-message {
  width: 100%;
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  border: 3px dotted #7BBE95; /* dig_mit mint */
  font-size: 1.5em;
  font-weight: bold;
}

.next-word-message .fa-star,
.success-message .fa-star {
  color: #FCDB67; /* dig_mit yellow */
}

#next-word-button,
#next-exercise-button {
  font-weight: normal;
  border: 1px dotted black;
  border-radius: 3px;
  padding: 0.33em 0.16em;
  cursor: pointer;
  color: #25569E; /* dig_mit darkblue */
}
#next-word-button:hover,
#next-exercise-button:hover {
  color: #63D2E3; /* dig_mit blue */
}
#next-word-button span,
#next-exercise-button span {
  vertical-align: middle;
}
#next-word-button i.fa,
#next-exercise-button i.fa {
  font-size: 2em;
  vertical-align: middle;
}


/* ==== Target field area ==== */
/* ... the inputs for the characters reside */

.target-field {
  border: 1px solid gray;
  margin: 1em 0;
  padding: 1em 0;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* a button in the target field to play the whole word */
.target-field .full-word {
  font-size: 3.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.33em;
  cursor: pointer;
}

/* an input box containing a single character input and an audio button */
.target-field .input-box {
  font-size: 1.8em;
  text-align: center;
  padding: 0.1em;
  border: 1px dotted black;
}
.target-field .input-box input {
  font-size: 1em;
  font-weight: bold;
  width: 1.3em;
  padding: 0.3em 0;
  text-align: center;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.target-field .input-box input:disabled {
  color: #555;
  font-weight: normal;
}
.target-field .input-box i.fa-volume-up {
  cursor: pointer;
}

.target-field .input-box i.help {
  font-size: 0.6em;
  cursor: pointer;
  color: #25569E; /* dig_mit darkblue */
}
.target-field .input-box i.help:hover {
  color: #63D2E3; /* dig_mit blue */
}

.target-field .input-box .solution span {
  font-size: 0.6em;
  display: none;
}

.correct {
  background-color: #7BBE95; /* dig_mit mint */
}

.incorrect {
  background-color: #D48028; /* dig_mit orange */
}
